body{

    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

#navba{
    color: white;
    background-color: rgba(128, 0, 128, 0.137); 
    border: none;
}
#maggie{
    background-color: transparent !important;
}